<%- include ('partials/header.ejs'); %>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand ms-2" href="/admbar">
        GuiaPress
    </a>
    <ul class="navbar-nav mr-auto">  
        <% categories.forEach(category => { %>
            <li class="nav-item">
                <a href="/category/<%= category.slug %>" class="nav-link" ><%= category.title %></a>
            </li>
        <% }) %>     
    </ul>
    <!-- excluir depois
        <ul class="navbar-nav ms-auto">
            <a href="/logout" class="nav-link" > Logout </a>
        </li>    
    </ul> 
    -->
    
    <ul class="navbar-nav ms-auto">
        <a href="/admin/articles" class="nav-link" > ADM PAGE </a>
    </ul>
</nav>
<body>
    <div class="container">
        <hr>
        <div class="jumbotron">
            <h1 class="display-4">Bem-vindo</h1>
            <p class="lead">Este é um simples blog para aperfeiçoar meus estudos.</p>
           
           <!--  <hr class="my-4">
            <p>Descrição detalhada aqui!</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Leia mais</a>
          </div>  --> 
        <hr>
        <% articles.forEach(article => { %>
            <div class="card">
                <div class="card-header">
                    <h2><%= article.title %></h2>
                </div>
                <div class="card-body">
                   <a href="/<%= article.slug %>" class="btn btn-success">Ler artigo</a>
                </div>
            </div>
            <br>
        <% }) %>
        <div class="row">
            <div class="col col-12">
                <% if(uniquepage!=0){ %>
                    <a style="float:right" href="/articles/page/2 "> Next Page 1 >> </a>   
                <% } %>
            </div>
            <hr>
        </div>
    </div>
</body>
<%- include ('partials/footer.ejs'); %>